<h2 class='page-header'>Recently added books</h2>
<div class='container'>
	<div class='book-grid book-grid-large'>
		<% books.forEach(book=>{ %>
			<a href='/books/<%= book.id %>'>
				<img  class='book-cover book-cover-large' src='<%= book.coverImageData %>'>
			</a>
		<% }) %>
	</div>
</div>