<h1>Login</h1>
<form action='/users/login' method='POST'>
	<div class='form-row'>
		<div class='form-item'>
			<label>User name</label>
			<input required type='name' name='name' class='form-control' placeholder='enter user name' />
		</div>
	</div>
	<div class='form-row'>
		<div class='form-item'>	
			<label>password</label>
			<input required type='password' name='password' class='form-control' placeholder='enter password' />
		</div>
	</div>
	<div class='form-row form-btn btn-row'>
		<button type='submit' class='btn btn-primary'>login</button>
		<a href='/users/register' class='btn btn-primary'>No account? Register</a>
	</div>
</form>