<h2>Search authors</h2>
<form action='/authors' method='get'>
	<label>Search authors</label>
	<input type='text' name='name' class='form-control' value=<%= searchOption %>>
	<button type='submit' clas='btn btn-primary'>Search</button>
</form>

<% authors.forEach(author=>{ %>
	<div><p><%= author.name %></p></div>
<% }) %>